<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MafiaGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BB3AF741C50228B00A20A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BB3AF8D1C50228B00A20A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BB3AF981C50228B00A20A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
